Package: com.sanil.helloworld
Name: HelloWorld
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Sanil
Author: Sanil
Section: Tweaks
Version: 0.0.1-5+debug
Installed-Size: 136
